#============================================================
#   Example Delta Install Configuration File 
#============================================================
#   File Version: 2.00
#   File Revision $Rev:$
#============================================================

deploy-rhel7=1
APPSERVER_JVM_INITIAL_MEMORY=256
APPSERVER_JVM_MAX_MEMORY=256


#============================================================
# INSTALLATION OPTIONS
#============================================================

# Install location for deploy
delta-install-dir=/home/ec2-user/kxinstall

# Custom location for delta-data dir
# delta-data-dir=/path/to/delta-data

# Package location
delta-package-dir=../packages

# List of packages to exclude from deploy
delta-exclude-packages=

# Web node. If set only deploy web packages
web-node=0

# KDB+ node. Deploy everything except web packages
kdb-node=0

# No prompt
no-prompt=1

# Accept installation default values
accept-defaults=1

# Always upgrade installed packages
always-upgrade=1

# Do not overwrite a package where the version is already installed
always-overwrite=0

# Automatically import Delta Packages
delta-package-auto-import=1

# Ignore OS specific package validation (Bundle should contain tgzs for target OS)
ignore-os-package-validation=1

# Write tmp files inside the bundle directory (We cannot assume the size of /tmp)
tmp-dir=../tmp

#============================================================
# DELTA CONTROL OPTIONS
#============================================================

# Delta Control server bind port
# Delta Control UI connects to DC on this port
DELTACONTROL_PORT=2001

# Delta Control Daemon Configuration
DELTACONTROL_REMOTEHOST=localhost
DELTACONTROL_REMOTEPORT=2001

# Bind Delta Control process to CPU core 0
kdb-taskset=0

# Bind Delta Daemon process to CPU core 0
dcd-taskset=0

# Install Delta Control and Delta Daemon
delta-install-type=3

# Enable Delta Control Failover Cluster: 
delta-control-clustering=0
delta-control-master-hostname=master-hostname
delta-control-master-port=2001
delta-control-slave-hostname=slave-hostname
delta-control-slave-port=2001

#============================================================
# PROCESS INSTANCE OPTIONS
#============================================================

# Global portstart value
global-portstart=3000

# Start delta process intstance port range at 3000
auto-configure-instance-portstart=3000

# Host to start _a and _b process instances
auto-configure-instance-hostname-a=localhost
auto-configure-instance-hostname-b=NO_HOST_SET

# Bind all process instances to given taskset
auto-configure-instance-taskset=0

# App Server process options
app-server-hostname-a=localhost
app-server-hostname-b=NO_HOST_SET
app-server-taskset=NONE

#============================================================
# TOMCAT / APP SERVER OPTIONS
#============================================================

# Install app server with HTTP (1) HTTPS (2)
app-server-install-type=1

# Tomcat SSL Options
tomcat-keystore-file=~/.keystore
tomcat-keystore-password=changeit
tomcat-keystore-alias=tomcat

# Apache Tomcat HTTP port
# Tomcat web address [http://localhost:8080/]
TOMCAT_PORT=4000

# Apache Tomcat HTTPS port (If Enabled)
# Tomcat web address [https://localhost:8443/]
TOMCAT_SECURE_PORT=4001

# Tomcat / App Server process ports
TOMCAT_REDIRECT_PORT=4002
TOMCAT_SERVER_PORT=4003
TOMCAT_AJP_PORT=4004
TOMCAT_JGROUPS_BIND_PORT=17000
TOMCAT_JGROUPS_TCPPING_INITIAL_HOSTS=localhost[17000]
APPSERVER_JGROUPS_BIND_PORT=17001
APPSERVER_JGROUPS_TCPPING_INITIAL_HOSTS=localhost[17001]

#============================================================
# DELTA PACKAGE PORT VALUES
#============================================================

PDFSERVER_PORT=5080
ANALYST_GATEWAYPORT=1254
ANALYST_NVQPORT=3940
ANALYST_DEBUGPORT=31254
ANALYST_MINPORT=4010
ANALYST_MAXPORT=4020

#============================================================
# TLS CONFIGURATION
#============================================================
tls-encryption-enabled=0
tls-encryption-mixed-mode=0
ssl-server-cert-file=server-crt.pem
ssl-server-key-file=server-key.pem
ssl-ca-cert-file=ca.pem
#tls-include-client-certificate=1
#ssl-client-cert-file=client-crt.pem

#============================================================
# NEW / CUSTOM CONFIGURATION
#============================================================

